<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
{% load static %}
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

<title>{% block extra_title %}проект приюта для домашних питомцев{% endblock extra_title %}</title>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/about">Проект PWS_D6</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="/filter">Питомцы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="/about">О нашем приюте</a>
    </ul>
  </div>
</nav>
    {% block content %}
    <p>"parent block"</p>

    {% endblock %}
</body>
