{% extends 'base.html' %}

{% load widget_tweaks %}

<div class="container-fluid">

{% load shelter_app_extras %}

{% block content %}
	<form class="inline-form" method="get">
        <div class="row">
            <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.age.label_tag }}
                {% render_field filter.form.age class="form-control-sm"%}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.name.label_tag }}
                {% render_field filter.form.name class="form-control-sm"%}
            </div>
            <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.kind.label_tag }}
                {% render_field filter.form.kind class="form-control-sm"%}
            </div>
            <button class="btn btn-primary mb-2" type="submit">Применить фильтр</button>
        </div>
    </form>
    <div class="row">

        {% for pet in pets %}
        <div class=" card col-lg-3 col-md-4 col-xs-6">
            <a href="{{pet.id}}" class="btn btn-light">
            <img class="card-img-top img-thumbnail" width="300" height="300" src="{{pet.photo.url}}" alt="Card image cap">
            <h5 class="card-title">{{ pet.name }}</h5>
            </a>
        </div>
	    {% endfor %}

    
    </div>

{% if is_paginated %}
  {% if page_obj.has_previous %}
    <a href="?{% param_replace page=1 %}">First</a>
    {% if page_obj.previous_page_number != 1 %}
      <a href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
    {% endif %}
  {% endif %}

  Page {{ page_obj.number }} of {{ paginator.num_pages }}

  {% if page_obj.has_next %}
    {% if page_obj.next_page_number != paginator.num_pages %}
      <a href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
    {% endif %}
    <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
  {% endif %}

  <p>Objects {{ page_obj.start_index }} - {{ page_obj.end_index }}</p>
{% endif %}

</div>
{% endblock %}
