{% extends 'base.html' %}

<div class="container-fluid">
    
{% block content %}
    <div class="row">
    {% for pet in object_list %}
	    <div class=" card col-lg-3 col-md-4 col-xs-6">
              <a href="{{pet.id}}" class="btn btn-light">
              <img class="card-img-top img-thumbnail" width="300" height="300" src="{{pet.photo.url}}" alt="Card image cap">
              <h5 class="card-title">{{ pet.name }}</h5>
              </a>
      </div>
	{% endfor %}
    </div>
</div>
{% endblock %}
