{% extends 'base.html' %}

{% load widget_tweaks %}

<div class="container-fluid">
    
{% block content %}
	<form method="get">
        <div class="form-group col-sm-4 col-md-3">
            {{ filter.form.name.label_tag }}
            {% render_field filter.form.name class="form-control"%}
        </div>
        <div class="form-group col-sm-8 col-md-6">
          {{ filter.form.groups.label_tag }}
          <div>
            {% for choice in filter.form.groups %}
              <label class="checkbox-inline">
                {{ choice.tag }} {{ choice.choice_label }}
              </label>
            {% endfor %}
        <input type="submit" />
    </form>
    <div class="row">
    {% for pet in filter.qs %}
	    <div class="card col-lg-3 col-md-4 col-xs-6" style="width: 18rem;">
            <img class="card-img-top img-thumbnail" src="{{pet.photo.url}}" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{ pet.name }}</h5>
            <p class="card-text">{{ pet.description }}</p>
            <a href="{{pet.id}}" class="btn btn-primary">{{ pet.name }}</a>
        </div>
    </div>
	{% endfor %}
    
</div>
{% endblock %}
